/* images */
.largePfp,
.pfp, 
img:not(.icon){
    width: 60px;
    height: 60px;
}
/* container */
.gridContainer{
    display: grid;
    grid-template-rows: auto 4fr;
    grid-template-columns: 1fr 4fr;
}
body{
    margin: 0;
    padding: 0;
}
/* sidebar */
.sidebar{
    display: grid;
    grid-area: 1 / 1 / span 4 / span 1;
    background-color: black;
    margin: 0;
}
.sidebar > *{
    margin: 0;
}
/* header */
header{

    background-color: blue;
}
.topHeader{
    display: flex;
    align-items: center;
    gap: 20px
}
input{
    display: flex;
    flex: 1;
}
.searchField{
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0px 200px 0px 50px;
}
.pfp{
    border-radius: 100%;
}
.userInfoBell{
    display: flex;
    align-items: center;
    gap: 50px;

}
/* main */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}